
@{
    ViewData["Title"] = "ChackYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		 <div>
			<p>Password Reset Link has been sent to your email. please chack your inbox  </p>
		 </div>
		 <div>
			 <a href="htpps://mail.googel.com//mail/u/0/#inbox"> Your Inbox</a>
		 </div>
	</div>
</div>

