@model EmployeeViewModels
@inject IUnitOfWork _UnitOfWork
@{
    // ViewData["departments"] = _UnitOfWork.GetAll();
    var departments = new SelectList(_UnitOfWork.DepartmentRepository.GetAll(), nameof(Department.Id), nameof(Department.Name));
}

<div class="row">
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="Name"></label>
            <div class="col-8 col-md-8">
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="Age"></label>
            <div class="col-8 col-md-8">
                <input type="text" asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="Address"></label>
            <div class="col-8 col-md-8">
                <input type="text" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="HireDate"></label>
            <div class="col-8 col-md-8">
                <input asp-for="HireDate" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="Gender"></label>
            <div class="col-8 col-md-8">
                <input asp-for="Gender" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="IsDeleted"></label>
            <div class="col-8 col-md-8">
                <input asp-for="IsDeleted" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="PhoneNumber"></label>
            <div class="col-8 col-md-8">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="Email"></label>
            <div class="col-8 col-md-8">
                <input type="text" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="form-group certified-group row">
            <label class="col-4 col-md-4 align-self-center" asp-for="IsActive"></label>
            <div class="col-8 col-md-8">
                <input asp-for="IsActive" class="form-control" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group certified-group row">
        <label class="col-4 col-md-4 align-self-center" asp-for="department"></label>
        <select class="from-control" asp-items="departments" asp-for="departmentid">
            <option value="Null">--Select Department--</option>
        </select>
    </div>
</div>


<div>
    <label class="col-form-label" asp-for="Image"></label>

    <input class="form-control-file" asp-for="Image" />
</div>