@model EmployeeViewModels
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<br />
<br />
<form asp-action="Create">


    <Partial name="PartialViews/CreateEditEmployeePartialView"></Partial>

    <input type="submit" value="Create" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="btn btn-light mt-5"> Back To List</a> 

	
</form>
@section validatesection
{
	<Partial name="_ValidationScriptsPartial"></Partial>

}