@model Employee
@{
	ViewData["Title"] = "Delete";
}

<h1>Are You sure want to Delete this Employee </h1>
<br />
<br />


<form asp-action="Delete" asp-route-id="@Model.Id">
	<Partial name="PartialViews/DetailsDeleteEmployeePartialView"></Partial>

	<input type="submit" value="Delete"class="btn btn-danger mt-5" />
	<a asp-action="Index" class="btn btn-light mt-5"> Cancel</a>

</form>

