@model Employee
@{
	ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />

<Partial name="PartialViews/DetailsDeleteEmployeePartialView"></Partial>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-5">Edit</a>
<a asp-action="Index" class="btn btn-light mt-5"> Back To List</a>

