@model EmployeeViewModels
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>
<br />
<br />
<form asp-action="Edit">
	<div asp-validation-summary="All"></div>
	<Partial name="PartialViews/CreateEditEmployeePartialView"></Partial>

	<input type="submit" value="Save" class="btn btn-primary mt-5" />
	<a asp-action="Index" class="btn btn-light mt-5"> Back To List</a>
</form>

@section validatesection
{
	<Partial name="_ValidationScriptsPartial"></Partial>

}