@model Department
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<br />
<br />

<div>
    <Partial name="PartialViews/DetailsDeleteDepartmentPartialView"></Partial>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mt-5">Edit</a>
    <a asp-action="Index" class="btn btn-light mt-5"> Back To List</a>
</div>

