@model UserViewModels


<div class="row">
	<div class="col-12 col-md-4">
		<div class="form-group certified-group row">
			<label class="col-4 col-md-4 align-self-center" asp-for="FName"></label>
			<div class="col-8 col-md-8">
				<input type="text" asp-for="FName" class="form-control" readonly />
			</div>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="form-group certified-group row">
			<label class="col-4 col-md-4 align-self-center" asp-for="LName"></label>
			<div class="col-8 col-md-8">
				<input type="text" asp-for="LName" class="form-control" readonly /> 
			</div>
		</div>
	</div>
	<div class="col-12 col-md-4">
		<div class="form-group certified-group row">
			<label class="col-4 col-md-4 align-self-center" asp-for="Email"></label>
			<div class="col-8 col-md-8">
				<input type="text" asp-for="Email" class="form-control" readonly /> 
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 col-md-4">
		<div class="form-group certified-group row">
			<label class="col-4 col-md-4 align-self-center" asp-for="PhoneNumbers"></label>
			<div class="col-8 col-md-8">
				<input asp-for="PhoneNumbers" class="form-control" readonly />
			</div>
		</div>
	</div> 
	<div class="col-12 col-md-4">
		<div class="form-group certified-group row">
			<label class="col-4 col-md-4 align-self-center" asp-for="Roles"></label>
			<div class="col-8 col-md-8">
				<input type="text" asp-for="Roles" class="form-control" readonly />
			</div>
		</div>
	</div>
</div>
